<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/board.css" />
  </head>
  <body>
    <div id="main_container">
      <h2>게시글 리스트</h2>
      <div class="logininfo">
        <div class="login">
          <span id="loginUser"></span>
          님이 로그인하셨습니다
          <input
            type="button"
            value="회원정보수정"
            onClick="location.href='/members/updateForm'"
          />
          <input
            type="button"
            value="로그아웃"
            onClick="location.href='/members/logout'"
          />
          <input type="button" id="deleteMember" value="회원탈퇴" />
        </div>
        <div class="writebutton">
          <input
            type="button"
            value="게시글 등록"
            onClick="location.href='/boards/boardWriteForm'"
          />
        </div>
      </div>

      <div class="title_row">
        <div class="title_col">번호</div>
        <div class="title_col">제목</div>
        <div class="title_col">작성자</div>
        <div class="title_col">작성일</div>
        <div class="title_col">조회수</div>
      </div>
      <div class="board" id="boardList">
        <!-- 게시물이 표시되는 곳 -->
      </div>
    </div>
    <script>
      getLoginUser();
      getBoardList();

      async function getBoardList() {
        try {
          const result = await axios.get("/boards/boards");
          const boards = result.data;
          // console.log(boards[0]);

          let boardList = document.querySelector("#boardList");
          boardList.innerHTML = "";

          boards.map((board, idx) => {
            // boards 배열의 요소들을 board 변수에 저장하면서 배열의 요소 갯수만큼 반복실행
            let row = document.createElement("div");
            row.className = "row";
            boardList.appendChild(row);

            let num = document.createElement("div");
            num.className = "col";
            num.textContent = board.num;

            let title = document.createElement("div");
            title.className = "col";
            title.textContent = board.title;

            title.addEventListener("click", (e) => {
              location.href = `/boards/boardView/${board.num}`;
            });

            let userid = document.createElement("div");
            userid.className = "col";
            userid.textContent = board.userid;

            let writedate = document.createElement("div");
            writedate.className = "col";
            writedate.textContent = board.writedate.substring(0, 10);

            let readcount = document.createElement("div");
            readcount.className = "col";
            readcount.textContent = board.readcount;

            row.append(num, title, userid, writedate, readcount);
          });
        } catch (err) {}
      }

      async function getLoginUser() {
        try {
          const result = await axios.get("/loginUser");
          const loginUser = result.data;
          document.getElementById("loginUser").innerHTML =
            loginUser.userid + "(" + loginUser.name + ")";
        } catch (err) {
          console.log(err);
        }
      }

      document
        .getElementById("deleteMember")
        .addEventListener("click", async (e) => {
          if (confirm("진짜 탈퇴함?")) {
            // location.href = "/members/deleteMember";
            const result = await axios.get("/loginUser");
            const loginUser = result.data;
            await axios.delete(`/members/deleteMember/${loginUser.userid}`);
            location.href = "/";
          } else {
            return;
          }
        });
    </script>
  </body>
</html>
